@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Raleway:wght@300&family=Roboto:wght@300&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #eeeeee;
}

.item1 {
  background-color: red;
}
.item2 {
  background-color: rgb(255, 154, 30);
}
.item3 {
  background-color: rgb(218, 255, 30);
}
.item4 {
  background-color: rgb(56, 255, 30);
}
.item5 {
  background-color: rgb(30, 248, 255);
}

#grid-container {
  display: grid;

  padding: 5px;
}

#grid-container > div {
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px 0;
  font-size: 20px;
  border-radius: 12px;
}

button {
  background: linear-gradient(to bottom, #689500 5%);
  background-color: #89c403;
  border-radius: 16px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 13px 24px;
  text-decoration: none;
}
button:hover {
 
  background-color: #000000;
  border: solid 1px rgb(0, 0, 0);
}
button:active {
  position: relative;
  top: 1px;
}

#padre {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}
.buttons-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  padding-right: 5%;
  overflow-y: scroll;
   height:80vh;
}

.live-section {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: 5%;
}

label{
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  margin: 2%;
}
input[type="range"]{

  width: 100%;
}
#reset{
  width: 20%;
  margin-left: 40%;
  background-color: red;
  border: solid 1px red;
}
#reset:hover{

  background-color: #000000;
  border: solid 1px rgb(0, 0, 0);
}
 
 